extends layout

block content
	h1= "Simple Chat"
	div#chat
	-if(username){
		form#message(name="message",method="post",action="/message")
			input#msg(type="text",placeholder="chat",name="message")
			button#submit(type="submit") submit
	-} else {
		form#username(name="username",method="post",action="/username")
			input#name(type="text",placeholder="username",name="username")
			button#submit(type="submit") submit
	-}

